@import '@styles/theme.scss';
.content3Item {
}

.filter-content3-container {
  margin-bottom: 32px;
}


.filter-content3-title-container {
  margin-bottom: 24px;
}


.filter-content3-title-text {
  color: #333333;
  font-size: 28px;
}



.filter-content3-hos-grad-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
