@import '@styles/theme.scss';
.hosDetail {
  background-color: #F2F2F2;
}

.hos-detail-doctor-intr-container {
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
}

.hos-detail-doctor-intr-items {
}

.hos-detail-doctor-dept-container {
  display: flex;
  flex-direction: row;
}

.margin-top30 {
  margin-top: 30px;
}

.hos-detail-dept-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.hos-detail-dept-title-text {
  font-size: 28px;
  color: $text-color-lighter;
}

.hos-detail-dept-content {
  font-size: 28px;
  color: $text-color;
  margin-left: 16px;
}

.hos-detail-dept-content-container {
  width: 550px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.hos-detail-left-image {
  width: 16px;
  height: 25px;
  margin-right: -16px;
}

.hos-detail-flex {
  display: flex;
  flex-direction: row;
}

.hos-detail-top-wd-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hos-detail-top-wd-text {
  font-size: 28px;
  color: $text-color;
}

.hos-detail-bottom-wd-text {
  font-size: 26px;
  color: $text-color-light;
}

.hos-detail-bottom-wd-container {
  width: 598px;
  @include ddd
}

.hos-detail-wd-label-container {
  width: 56px;
  height: 32px;
  position: relative;
  margin-right: 16px;
}



// sheet 样式覆盖

.at-action-sheet__container {
  border-radius: 26px;
  width: 90%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0);
}

.at-action-sheet__item {
  font-size: 32px;
  color: $primary-color;
}

.at-action-sheet__footer {
  font-size: 32px;
  color: $primary-color;
  border-radius: 26px;
  margin-top: 16px;
  border-top: 0 solid black;
  background-color: #434040;
}
.at-action-sheet__body {
  border-radius: 26px;
  background-color: #434040;
}
