@import '@styles/theme.scss';
.hosDetail {
}

.hos-detail-doctor-intr-container {
  background-color: white;
  padding: 32px 30px;
  margin-bottom: 20px;
}

.hos-detail-doctor-intr-items {
}

.hos-detail-address-container {
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hos-detail-address-left-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.hos-detail-address-left-top-text {
  color: $text-color;
  font-size: 28px;
}

.hos-detail-address-left-bottom-text {
  font-size: 24px;
  color: $text-color-light;
}

.hos-detail-address-right-container {
  margin-left: 20px;
}

.hos-detail-doctor-dept-container {
  display: flex;
  flex-direction: row;
}

.margin-top30 {
  margin-top: 30px;
}

.hos-detail-dept-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.hos-detail-dept-title-text {
  font-size: 28px;
  color: $text-color-lighter;
}

.hos-detail-dept-content {
  font-size: 28px;
  color: $text-color;
}

.hos-detail-dept-content-container {
  width: 550px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.hos-detail-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hos-detail-doctor-gh-inner-container {
  display: flex;
  flex-direction: row;
}
.hos-detail-center-label-container {
  display: flex;
  flex-direction: row;
}
.hos-detail-doctor-img-container {
  margin-right: 16px;
}
.hos-detail-label-container {
  margin-right: 24px;
}

.hos-detail-label-text {
  font-size: 22px;
  color: $primary-color;
}

.hos-detail-wechat-phone-container {
  display: flex;
  flex-direction: row;
}

.hos-detail-wechat-line {
  width: 1PX;
  height: 100px;
  background-color: #F2F2F2;
  margin-left: 40px;
  margin-right: 40px;
}


.hos-detail-left-image {
  width: 18px;
  height: 25px;
}

.hos-detail-flex {
  display: flex;
  flex-direction: row;
}

.hos-detail-top-wd-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hos-detail-top-wd-text {
  font-size: 28px;
  color: $text-color;
}

.hos-detail-bottom-wd-text {
  font-size: 26px;
  color: $text-color-light;
}

.hos-detail-bottom-wd-container {
  width: 598px;
  @include ddd
}

.hos-detail-wd-label-container {
  width: 56px;
  height: 32px;
  margin-right: 16px;
}

.hos-detail-hosIntr-container {
  width: 100%;
  margin-top: 24px;
  @include lamp-clamp(2)
}

.hos-detail-hosIntr-text {
  font-size: 28px;
  color: $text-color-light;
}
