@import '@styles/theme.scss';
.hosAddrPhone {

  // sheet 样式覆盖

  .at-action-sheet__container {
    border-radius: 26px;
    width: 90%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0);
  }

  .at-action-sheet__item {
    font-size: 32px;
    color: $primary-color;
  }

  .at-action-sheet__footer {
    font-size: 32px;
    color: $primary-color;
    border-radius: 26px;
    margin-top: 16px;
    border-top: 0 solid black;
    background-color: #434040;
  }
  .at-action-sheet__body {
    border-radius: 26px;
    background-color: #434040;
  }

}


.hos-detail-address-container {
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hos-detail-address-left-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}



.hos-detail-address-text-container {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  max-width: 548px;
}

.hos-detail-address-left-top-text {
  color: $text-color;
  font-size: 28px;
}

.hos-detail-address-left-bottom-text {
  font-size: 24px;
  color: $text-color-light;
}

.hos-detail-address-right-container {
  position: relative;
}

