@import '@styles/theme.scss';
.locationAtIndex {
}

.at-indexes__menu-item {
  font-size: 20px;
  color: #479CF0;
}

.at-indexes__list-title {
  background-color: white;
  font-size: 28px;
  color: $text-color-lighter;
}

.at-list__item .item-content__info-title {
  font-size: 30px;
  color: #31363C;
}
