@import '@styles/theme.scss';
.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.search-bar-input {
  flex: 1;
  background-color: #F5F5F5;
  height: 66px;
  font-size: 28px;
  border-radius: 33px;
  padding-left: 75px;
}

.search-bar-text {
  color: #479CF0;
  font-size: 32px;
  margin-left: 24px;
}

.search-bar-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 26px;
  z-index: 999999;
}
