@import '@styles/theme.scss';
.healthListItem {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  padding: 30px 0;
  border-bottom: 1px solid #EDEDED;
}

.health-list-item-right-container {
  width: 480px;
  margin-left: 24px;
}

.health-list-item-right-bottom {
  width: 480px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.health-list-item-right-top-text {
  color: #2B2B2B;
  font-size: 30px;
}

.health-list-item-right-bottom-date {
  color: $text-color-lighter;
  font-size: 24px;
}
