@import '@styles/theme.scss';
.listFilterPop {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999999999;
}
.list-filter-pop-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  padding-bottom: 24px;
}

.list-filter-pop-top-unselect-text {
  color: $text-color;
  font-size: 28px;
}

.list-filter-pop-top-select-text {
  color: $primary-color;
  font-size: 28px;
}
